@font-face {
    font-family: 'HakgyoansimDunggeunmisoTTF-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    height: 10000px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_h1 {
    text-align: center;
    font-family: 'HakgyoansimDunggeunmisoTTF-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

a,
a:active,
a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: underline;
}

li {
    list-style-type: none;
}

.header_test>ul {
    display: flex;
    justify-content: center;
    text-align: center;
}

.header_test li {
    margin-right: 2px;
}

.header_test a {
    display: block;
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: gray;
    color: white;
}

.submenu {
    display: none;
    position: absolute;
}

.header_test>ul>li:hover .submenu {
    display: block;
}

.header_test>ul>li:hover>a {
    background-color: palegreen;
    transition: 0.5s;
}

.submenu a:hover {
    background-color: palegreen;
    transition: 0.5s;
}

.main_img {
    margin: auto;
    display: block;
}

.header_test>ul {
    position: sticky;
    top: 0;
    height: 100px;
}

.top_btn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    background-color: gray;
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
    color: aliceblue;
}

.top{
    text-decoration: none;
}